<div class="container">
    <div class="customer-form" *ngIf="type=='customer'">
        <div class="left">
            <img [src]="imageSrc" alt="profile" style=" width:250px">
            <input class="custom-file-input" style="width: 100px; margin: 20px 20px;" type="file" value="Upload"
                (change)="onFileChange($event)">
        </div>
        <div class="right">
            <form [formGroup]="formInputCustomer">
                <div class="form-group mt-2">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name"
                        formControlName="name">
                </div>
                <div class="form-group mt-2">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Address"
                        formControlName="address">
                </div>
                <div class="form-group mt-2">
                    <label for="city">City</label>
                    <select class="form-control" id="city" formControlName="city">
                        <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                    </select>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-primary mt-3" (click)="save()">Submit</button>
                    <button type="button" class="btn btn-warning mt-3" style="margin-left: 20px;"
                        routerLink="/">Back</button>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="type=='order'">
        <form [formGroup]="transactionForm">
            <div class="form-group mt-2">
                <label for="toAccountId">To Account</label>
                <select class="form-control" id="toAccountName" formControlName="toAccountName">
                    <option *ngFor="let item of listAccount" [value]="item.name">{{ item.name }}</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" placeholder="Amount" formControlName="amount">
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary mt-3" (click)="save()">Submit</button>
                <button type="button" class="btn btn-warning mt-3" style="margin-left: 20px;"
                    routerLink="/">Back</button>
            </div>
        </form>
    </div>


</div>